body {
  margin: 0 auto;
  width: 1240px;
}

.header {
  width: 100%;
  padding: 40px 60px 50px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(255, 105, 0);
}

.logo-link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  filter: brightness(100%);
  width: 100%;
  justify-content: space-around;
}

.logo-link:hover {
  filter: brightness(110%);
}
.logo-link__icon {
  width: 200px;
  height: 200px;
}

.logo-link:active .logo-link__icon {
  fill: #8982c9;
}

.logo-link__title {
  text-transform: capitalize;
  color: rgb(76, 36, 29);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  /*  font-style: oblique; */
  font-size: 140px;
}

.logo-link:active .logo-link__title {
  color: #ffce56;
}

main {
  width: 100%;
  padding: 60px 60px 50px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  text-decoration: none;
  padding: 20px;
  margin: 80px;
  background-color: rgb(255, 105, 0);
  border-radius: 29px;
  border: 0px;
  outline: none;
  box-shadow: 0px 3px 0px #80645f;
  text-transform: uppercase;
  color: rgb(76, 36, 29);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  font-size: 20px;
  width: 30%;
}



.start-button:hover {
  background-color: #ffce56;
}

.start-button:active {
  transform: translateY(1px);
  box-shadow: none;
}

legend {
  text-align: center;
}

.burger-form {
  display: none;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: rgb(76, 36, 29);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.burger-form__fieldset {
  border: 1px dotted gray;
  width: 50%;
}

.total {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 30%;
}

.total-text {
  width: 100%;
  padding: 10px;

  border: 1px solid #000;
}

.button-count {
  width: 100%;
  margin: 20px;
}